{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}
  <div id="registration-padding"></div>
  <div class="registration-box">
  <div class="registration-title">Signup</div>
    <form action='/account/register/{% if next %}?next={{ next }}{% endif %}' method="POST">
      {% csrf_token %}
      <div class="registration-label">
      <table>
        <tr>
          <td> {{ form.first_name.label_tag }}</td>
        </tr>
        <tr>
          <td> {{ form.first_name }}</td>
        </tr>
        <tr>
          <td> {{ form.first_name.errors }}</td>
        </tr>
        <tr>
          <td> {{ form.last_name.label_tag }}</td>
        </tr>
        <tr>
          <td> {{ form.last_name }}</td>
        </tr>
        <tr>
          <td> {{ form.last_name.errors }}</td>
        </tr>
        <tr>
          <td> {{ form.email.label_tag }}</td>
        </tr>
        <tr>
          <td> {{ form.email }}</td>
        </tr>
        <tr>
          <td> {{ form.email.errors }}</td>
        </tr>
        <tr>
          <td> {{ form.password1.label_tag }}</td>
        </tr>
        <tr>
          <td> {{ form.password1 }}</td>
        </tr>
        <tr>
          <td> {{ form.password1.errors }}</td>
        </tr>
        <tr>
          <td> {{ form.password2.label_tag }}</td>
        </tr>
        <tr>
          <td> {{ form.password2 }}</td>
        </tr>
        <tr>
          <td> {{ form.password2.errors }}</td>
        </tr>
        <tr>
          <td> {{ form.tos }} &nbsp {{ form.tos.label_tag }}</td>
        </tr>
        <tr>
          <td> {{ form.tos.errors }}</td>
        </tr>
      </table>
      </div>
      <div class="clear"></div>

      <button class="btn btn-primary view-profile-button registration-submit">Submit</button>
      <div class="clear"></div>
<!--
      <p class='registration'>Or Login with Facebok</p>
      <a href='/login/facebook'><img src='{% static 'img/button_fb.png' %}'/></a>
 -->
    </form>
  </div>
  <div id="registration-padding"></div>

{% endblock content %}
{% block body_media %}
<script type="text/javascript">
$(function(){
 $("form").submit(function(){
   mixpanel.track("register");
 })
})
</script>
{% endblock %}
