#message-reschedule {
  @extend .button-style;
  margin-top: 27px;
  width: 210px;
}

#pay-button {
  @extend .button-style;
  margin-top: 27px;
  width: 210px;
}

.consultation-subheading {
  font-size: 16px;
  font-family: "robotoregular";
  color: #656565;
  margin-top: 13px;
}

#nutritionist-will-confirm {
  font-size: 16px;
  font-family: "robotoregular";
  color: #957E6C;
  margin-bottom: 17px;
}

.consultation-details {
  font-size: 18px;
  font-family: "robotoregular";
  color: #656565;
  margin-left: -34px;
}

.consultation-details-spacer {
  margin-bottom: 9px;
}