.container
{
  width: 1600px !important;
}

body {
  width: 100%;
}

img {

}

.button-style {
  font-family: "robotomedium" !important;
  font-size: 16px !important;
  border: none !important;
  border-radius: 3px !important;
  background-color: #43ACD0 !important;
  height: 45px;
  padding: 10px 12px !important;
}

.slogan {
  font-size: 50px;
  text-align: center;
  font-family: "robotomedium";
  color: #FFFFFF;
  padding-top: 130px;
}

.slogan-detail {
  font-size: 24px;
  text-align: center;
  font-family: "robotoregular";
  color: #FFFFFF;
  padding-bottom: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.section-title {
  text-align: center;
  font-size: 36px;
  font-family: "robotolight";
}

.how-works-icons {
  padding-top: 15px;
}

.left-section-title {
  text-align: left;
  font-size: 36px;
  font-family: "robotolight";
  padding-top: 25px;
}


.step {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 26px;
  font-family: "robotomedium";
  //width: 100%;
}

.step-desc {
  //margin-left: auto;
  //margin-right: auto;
  text-align: center;
  font-size: 18px;
  font-family: "robotoregular";
  color: #333C4E;
  //width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.step-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.mission-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  font-size: 17px;
  width: 80%;
  font-family: "robotoregular";
}

.shrink {
  margin-left: 133px;
  width: 80%;
}

.tagline {
  text-align: left;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 45px;
  padding-left: 20px;
  font-family: "robotoregular";
}

.dotted {
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.no-pad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.icon {
  //max-width: none;
  //padding-top: 20px;
  margin-right: 8px;
}

#icon-block {
  margin-left: -31px;
}

.mission-box {
  background-color: #f1f1f1;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-top: 65px;
  width: 100%;
  display: block;
}

.tagline-box {
  min-height: 120px;
  //width: 100%;
  background-color: #40b985;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.tagline-button {
  margin-top: 29px;
  background-color: #FFFFFF !important;
  color: #5d6964 !important;
  //border: none;
  //border-radius: 2px;
  font-family: "robotomedium";
  font-size: 16px;
  width: 160px;
  height: 60px;
  padding-top: 16px !important;
}

.mission-photo {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.photo-one {
  height: 100%;
}

.photo-two {
  padding-right: 0px !important;
  height: 100%;
}

.photo-three {
  height: 100%;
}

.photo-four {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 473px;
}

.doit {
  width: 100%;
}

.wide-button {
  width: 165px;
}

.extra-wide-button {
  width: 275px;
}

.collage-container {
  height: 473px;
}

.collage-wide {
  height: 229px;
}

.collage-inner {
  height: 229px;
}

.testimonial-box {
  height: 395px;
  //background-color: #999999;
  padding-bottom: 130px;
  padding-top: 60px;
  width: 100%;
  display: block;
}

.splash-box {
   background-image: url('../img/splash.png');
   //background-position: center;
   //background-repeat: no-repeat;
   //background-image: cover;
   height: 585px;
   width: 100%;
   //background-size: 100% 100%;
   margin-bottom: 50px;
   background-size:cover;
}

.user-quote {
  font-size: 17px;
  font-family: "robotoregular";
  color: #B8B8B8;
}

.quote-block {
  //width:50%;
  //margin-left: auto;
  //margin-right: auto;
}

.user-quote-name {
  font-size: 16px;
  font-family: "robotomedium";
  color: #000000;
}

.carousel-control-prev {
  float: left;
  padding-left: 15px;
}

.carousel-control-next {
  float: right;
}

//#myCarousel > div.indicator > ol > li.active

.carousel-indicators li {
  background-color: #F1F1F1 !important;
  width: 7px !important;
  height: 7px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.carousel-indicators li.active {
  background-color: #40B985 !important;
  width: 8px !important;
  height: 8px !important;
}

// overide bootstrap
.carousel-indicators {
   //left: 100% !important;
   bottom: -60px !important;
}


.circular-headshot {
  width: 76px;
  height: 76px;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  background: url("http://link-to-your/image.jpg") no-repeat;
}

#footer {
  height: 170px;
  background-color: #1f2a2e;
  width: 100%;
  display: block;
  background-size: cover;

}

.footer-link {
 font-size: 16px;
  font-family: "robotoregular";
  color: #FFFFFF;
  padding-top: 20px;
}

.footer-copyright {
  font-size: 14px;
  font-family: "robotoregular";
  color: #8F8F8F;;
  float: left;
  margin-left: 13px;
}

.footer-padding {
  padding-top: 50px;
}

#testimonial-section-heading {
  padding-bottom: 30px;
}

#sign-in-button {
  float: right;
  //margin-right: 0px !important;
  margin-top: 38px;
  width: 89px;
  font-family: "robotomedium";
  font-size: 16px;
  margin-right: 10px !important;
}

#header-sign-out-button {
  float: right;
  margin-right: 109px !important;
  margin-top: 38px;
  width: 89px;
  background-color: #63C49A;
  font-family: "robotomedium";
  font-size: 16px;
  border: none;
}

#header-start-button {
  float: right;
  width: 89px;
  margin-top: 38px;
  font-family: "robotomedium";
  font-size: 16px;
}

.width-100 {
  width: 100%;
}