body {
  width: 100%;
}

.logo {
  max-width: none;
}

.slogan {
  font-size: 30px;
  text-align: center;
}

.slogan-detail {
  font-size: 20px;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 18px;
}

.step {
  text-align: center;
  font-size: 18px;
}

.step-desc {
  text-align: center;
  font-size: 12px;
}

.mission-text {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  font-size: 12px;
  width: 80%;
}

.shrink {
  margin-left: 133px;
  width: 80%;
}

.tagline {
  text-align: left;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 45px;
}

.dotted {
  margin-top: 33px;
}

.icon {
  max-width: none;
}

.mission-box {
  background-color: #f1f1f1;
  padding-bottom: 60px;
  padding-top: 60px;
  width: 100%;
  display: block;
  margin: 0px !important;
  padding: 0px !important;
}

.tagline-box {
  min-height: 120px;
  width: 100%;
  background-color: #40b985;
  display: block;
  margin: 0px !important;
  padding: 0px !important;
}

.tagline-button {
  margin-top: 43px;
  background-color: #FFFFFF !important;
  color: #5d6964 !important;
}

.mission-photo {
  padding: 0px;
}


.photo-one {
  padding-left: 16px;
  padding-bottom: 15px;
  width: 96%;
}

.photo-two {
  padding-left: 1px;
}

.photo-three {
  margin-left: -9px;
  margin-top: -1px;

}

.photo-four {
  padding-left: 10px;
  margin-left: -50px;
}

.doit {
  width: 100%;
}