.clear
{
  clear: both;
  margin: 0 auto;
}

.nav-bar
{
}


.logo
{
  margin-left: 85px;
  max-width: none;
}

ul {
}

ul li a {
    display: block;
}

#dropdown-block {
  margin-top: 47px;
  display: inline-block;
  margin-right: 15px;
  float: right;
}

.dropdown {
  font-size: 16px;
  font-family: "robotobold";
  color: #43ACD0;
  //float: left;
  display: inline-block;
}

.dropdown-list {
  //background: solid;
  background-color: #F0F0F0;
  list-style-type: none;
  padding: 0;
  width: 277px;
  border: 1px solid #D8D8D8;
  border-radius: 6px;
  display: none;
  float: left;
  padding: 5px;
  position: absolute;
  margin-top: 20px;
  z-index: 100;
}

.dropdown-list li a {
  font-size: 16px;
  font-family: "robotobold";
  color: #5D6964;
  margin-left: 20px;
}