ul {
}

ul li a {
    display: block;
}

#dropdown-block {
  margin-top: 47px;
}

.dropdown {
  font-size: 16px;
  font-family: "robotobold";
  color: #43ACD0;
  float: left;
}

.dropdown-list {
  //background: solid;
  background-color: #F0F0F0;
  list-style-type: none;
  padding: 0;
  width: 277px;
  border: 1px solid #D8D8D8;
  border-radius: 6px;
  display: none;
  float: left;
  padding: 5px;
}

.dropdown-list li a {
  font-size: 16px;
  font-family: "robotobold";
  color: black;
  margin-left: 20px;
}