.clear { margin: 0 auto; clear: both;}

#recommended-headshot {
  //margin-left: 70px;
}

#recommended-name {
  font-size: 24px;
  font-family: "robotoregular";
  color: #151515;
  float: left;
}

#recommended-type {
  font-size: 24px;
  font-family: "robotolight";
  color: #656565;
  float: left;
}


#recommended-city {
  font-size: 18px;
  font-family: "robotoregular";
  color: #656565;
  margin-top: 7px;
  //float: left;
}

#recommended-consultation {
  font-size: 14px;
  font-family: "robotoregular";
  color: #656565;
  margin-top: 20px;
  margin-bottom: 30px;
}

#view-profile {
  background-color: #43ACD0;
  width: 140px;
  //height: 40px;

}

.inner-margin {
  margin-left: 70px;
}

#nutritionist-block-margin {
  margin-top: 45px;
}

#pin {
  margin-left: -6px;
  margin-right: -3px;
}

#view-profile {
  margin-left: -14px;
  font-family: "robotomedium";
  font-size: 16px;
  height: 40px;
}
