
#consultation-sub-heading {
  font-size: 24px;
  font-family: "robotoregular";
  //color: #151515;
  margin-bottom: 10px;
}

#consultation-price {
  font-size: 21px;
  font-family: "robotobold";
  color: #40B985;
  margin-bottom: 25px;
}

#consultation-blurb {
  font-size: 16px;
  font-family: "robotoregular";
  color: #656565;
  margin-bottom: 30px;
  width: 60%;
}

#purchase-consultation-button {
  @extend .button-style;
  background-color: #43ACD0;
  width: 260px;
}

.schedule-consultation-body {
  margin-left: 58px;
}

#consultation-schedule-form-block {
  margin-left: 15px;
  margin-bottom: 110px;
  margin-top: 12px;
}

.consultation-date {
  @extend .form-field;
  height: 45px;
  font-family: "robotoregular";
  font-size: 16px;
}

.consultation-time {
  @extend .form-field;
  height: 45px;
  font-family: "robotoregular";
  font-size: 16px;
}

#time-column {
  margin-left: -50px;
}

#id_time {
  width: 175px;
}

.form-error {
  color: red;
  font-family: "robotoregular";
  font-size: 18px;
  margin-left: 15px;
  margin-top: -25px;
}