{% extends "base.html" %}

{% block title %}
Nutrifeedback
{% endblock title %}

{% block content %}

<div class="container">

    <p class='section-title-static'> About </p>

    <p>Nutrifeedback connects people with health coaches and nutritionists anywhere, anytime. Our team is passionate about improving health. Nutrifeedback hope to help millions of people live healthier, happier lives. You deserve to feel better than ever. And with the right nutritional advice for you body, goals and lifestyle, we think you will.</p>
</div>

{% endblock content %}
