{% load static from staticfiles %}
  {% block footer %}
      <div class="container">
      <div class="footer-padding">
        <div class="row">
          <div class="col-xs-9">
            <div class="col-xs-2"><a class="footer-link" href="">About</a></div>
            <div class="col-xs-2"><a class="footer-link" href="">Terms</a></div>
            <div class="col-xs-2"><a class="footer-link" href="">Privacy</a></div>
            <div class="col-xs-3"><a class="footer-link" href="">Contact Us</a></div>
          </div>
          <div class="col-xs-3">
            <div id="icon-block">
              <div class="row">
                <a href="#"><img src='{% static 'img/twitter_icon.png' %}'/><a>
                <a href="#"><img src='{% static 'img/facebook_icon.png' %}'/><a>
                <a href="#"><img src='{% static 'img/pinterest_icon.png' %}'/><a>
               <a href="#"><img src='{% static 'img/instagram_icon.png' %}'/><a>
                <div class="clear"></div>
              </div>
            </div>
         </div>
      </div>
        <div class="row">
          <div class="col-xs-10">
            <p class="footer-copyright">Copyright &copy; 2014 Nutrifeedback. All Rights Reserved</p>
          </div>
        </div>
     </div>
  </div>
  {% endblock %}
</div>
