{% extends "base.html" %}

{% block title %}
Nutrifeedback
{% endblock title %}

{% block content %}
{% load static from staticfiles %}
<div class="outer-canvas">
  <div class="top-spacer"><button class="back-button" onclick="history.back()">< BACK</button></div>
    <div class="inner-canvas">
      <div class="row line-no-pad">
      {% include 'snippets/candy_line.html' %}
      </div>
      <div class="inner-margin">
        <div class="row line-no-pad">
        <div class="left-section-title">Profile</div>
        <div class="row line-no-pad">
          <div class="section-title-detail">
            <p></p>
          </div>
        </div>
      </div>
      <div class="profile-divider-line"></div>
      <div id="nutritionist-block-margin">
        <div class="row">
          <div class="col-md-2">
            <img class="circular-headshot" id="recommended-headshot" src="{{ nutritionist.headshot.url }}">
          </div>
          <div class="col-md-10 no-pad">
            <div class="row">
              <div id="recommended-name">
                {{ nutritionist.first_name }} {{ nutritionist.last_name }},&nbsp
              </div>
              <div id="recommended-type">
                {{ nutritionist.get_nutritionist_type_display }}
              </div>
              <div id="meeting-type">
                ({{ nutritionist.get_meeting_type_display }})
              </div>
            </div>
            <div class="row" id="recommended-city">
              <img id="pin" src='{% static 'img/pin.png' %}'/>
              {{ nutritionist.address }}. {{ nutritionist.city }}, {{ nutritionist.state }} {{ nutritionist.zip }}
            </div>
            <div class="row" id="recommended-consultation">
              {{ nutritionist.consultation_description }}
            </div>
            <div class="row">
              <div class="col-md-4 no-pad">
                <a class="btn btn-primary no-pad" id="send-message" href="{% url 'nutritionist' 1 %}">Send Message</a>
                <p class="payment-notes no-pad">User must pay $10/month to message nutritionists.</p>
              </div>
              <div class="col-md-4 no-pad" id="schedule-consultation-button-block">
                <a class="btn btn-primary no-pad" id="schedule-consultation" href="{% url 'nutritionist' 1 %}">Schedule Consultation</a>
                <p class="payment-notes no-pad">$100 to schedule consultation.</p>
              </div>
            </div>
          <div class="profile-divider-line"></div>
          <div class="row">
            <div class="col-md-1 no-pad">
              <img id="credentials-icon" src='{% static 'img/credentials.png' %}'/>
            </div>
            <div class="col-md-1 no-pad">
              <div class="profile-list-heading one-col-profile-list-heading">CREDENTIALS</div>
            </div>
          </div>
          <div class="row">
            <div class="profile-list-sub-heading">Licenses</div>
          </div>
          {% for license in licenses %}
            <div class="row profile-list-item">
              {{ license.description }}
            </div>
          {% endfor %}
          <div class="margin-20"></div>
          <div class="row">
            <div class="profile-list-sub-heading">Education</div>
         </div>
         {% for degree in degrees %}
           <div class="row profile-list-item">
             {{ degree.description }}
           </div>
         {% endfor %}
         {% for course in courses %}
           <div class="row profile-list-item">
             {{ course.description }}
           </div>
         {% endfor %}
         <div class="profile-divider-line"></div>
         <div class="row">
           <div class="col-md-6">
             <div class="row">
               <div class="col-md-1 no-pad">
                 <img id="demographics-icon" src='{% static 'img/demographics.png' %}'/>
               </div>
               <div class="col-md-1 no-pad">
                 <div class="profile-list-heading two-col-profile-list-heading">DEMOGRAPHICS SERVED</div>
               </div>
             </div>
            {% for demographic in demographics %}
              <div class="row profile-list-item">
                {{ demographic.get_type_display }}
              </div>
            {% endfor %}
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-1 no-pad">
                <img id="specialties-icon" src='{% static 'img/specialties.png' %}'/>
              </div>
              <div class="col-md-1 no-pad">
                <div class="profile-list-heading two-col-profile-list-heading">SPECIALTIES</div>
              </div>
            </div>
            {% for specialty in specialties %}
              <div class="row profile-list-item">
                {{ specialty.get_type_display }}
              </div>
            {% endfor %}
          </div>
        </div>
      <div>
   </div>
 </div>
 </div>
 </div>
 </div>
 <div class="bottom-spacer"></div>
 </div>
 <div class="recommended-bottom-spacer"></div>
 </div>
{% endblock content %}