{% extends "base.html" %}

{% block title %}
Nutrifeedback
{% endblock title %}

{% block content %}
{% load static from staticfiles %}
  <div class="outer-canvas">
  <div class="container">
      <div class="row line-no-pad">
        <div class="col-md-2 no-pad"></div>
        <div class="col-md-1 no-pad">
          <div class="top-spacer"><button class="back-button" onclick="history.back()">< BACK</button></div>
        </div>
      </div>
    <div class="inner-canvas">

      <div class="row line-no-pad">
      {% include 'snippets/candy_line.html' %}
      </div>

      <div class="inner-margin">
      <div class="row line-no-pad">
        <div class="left-section-title">We Recommend These Nutritionists For You</div>
        <div class="row line-no-pad">
          <div class="section-title-detail">
            <p>Here are your top nutritionist matches based on their specialty and location.</p>
          </div>
        </div>
      </div>

      {% for nutritionist in nutritionists %}
        <div class="divider-line"></div>
        <div id="nutritionist-block-margin">
        <div class="row">
          <div class="col-md-2">
            <img class="circular-headshot" id="recommended-headshot" src="{{ nutritionist.headshot.url }}">
          </div>
          <div class="col-md-10 no-pad">
            <div class="row">
              <div id="recommended-name">
                {{ nutritionist.first_name }} {{ nutritionist.last_name }},&nbsp
              </div>
              <div id="recommended-type">
                {{ nutritionist.get_nutritionist_type_display }}
              </div>
            </div>
            <div class="row" id="recommended-city">
              <img id="pin" src='{% static 'img/pin.png' %}'/>
              {{ nutritionist.city }}
            </div>
            <div class="row" id="recommended-consultation">
              {{ nutritionist.consultation_description }}
            </div>
            <div>
              <div class="row">
                <a class="btn btn-primary no-pad view-profile-button" href="{% url 'nutritionist' nutritionist.id %}">View Profile</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      {% endfor %}


    </div>
<div class="last-button-spacer"></div>
    </div>
  <div class="recommended-bottom-spacer"></div>
  </div>
</div>
{% endblock content %}