{% extends "base.html" %}

{% block title %}
Nutrifeedback
{% endblock title %}

{% block content %}
{% load static from staticfiles %}
<div class="outer-canvas">
    <div class="row line-no-pad">
      <div class="col-md-2 no-pad"></div>
      <div class="col-md-1 no-pad">
        <div class="top-spacer"><button class="back-button" onclick="history.back()">< BACK</button></div>
      </div>
    </div>
    <div class="inner-canvas">
<form action="{% url 'schedule-consultation' nutritionist.id %}" method="post">
{% csrf_token %}

      <div class="row line-no-pad">
        {% include 'snippets/candy_line.html' %}
      </div>
      <div class="inner-margin">
        <div class="row line-no-pad">
          <div class="left-section-title">Schedule a Consultation with {{ nutritionist.first_name }} {{ nutritionist.last_name }}</div>
          <div class="row line-no-pad">
            <div class="section-title-detail">

              <p></p>
            </div>
          </div>
        </div>
      <div class="profile-divider-line"></div>
      </div>
       <div class="schedule-consultation-body">

<div class="row no-pad">
<div id="consultation-schedule-form-block">
  <div class="col-md-4"">
    <div class="row">
      Date
    </div>
    <div class="row">
      {{ form.date }}
    </div>
  </div>
  <div class="col-md-1" id="calendar-column">
    <div class="row">&nbsp</div>
    <div class="row">
      <a href="javascript:void(0);" onclick="$.datepicker._showDatepicker($('#inputID')[0]);"><img id="calendar-trigger" src='{% static 'img/date.png' %}'/></a>
    </div>
  </div>
  <div class="col-md-3" id="time-column">
    <div class="row">
      Time
    </div>
    <div class="row">
      {{ form.time }}
    </div>
  </div>
</div>
<div class="form-error">{{ form.error }}</div>
</div>

<input type="hidden" id="inputID"/>

<div id="consultation-sub-heading">In Person or Digital Consultation</div>

<div id="consultation-price">${{ nutritionist.consultation_price }}</div>
<div id="consultation-blurb">Struggling with low energy, weight management or other niggling health issues? A personalized nutrition plan for your unique biochemical make-up could be just what you need.</div>
<!--
<a class="btn btn-primary" id="purchase-consultation-button" href="{% url 'auth_logout' %}">Purchase</a>
 -->
<button type="submit" id="purchase-consultation-button" class="btn btn-primary">Add to Cart</button>
</div>

<div class="bottom-spacer"></div>
</div>
</form>
<div class="recommended-bottom-spacer"></div>
</div>



<script>
/*
$('#inputID').datepicker("getDate")
Wed Aug 20 2014 00:00:00 GMT-0400 (EDT)
d = $('#inputID').datepicker("getDate")
Wed Aug 20 2014 00:00:00 GMT-0400 (EDT)
d
Wed Aug 20 2014 00:00:00 GMT-0400 (EDT)
$.datepicker.formatDate('mm dd yy, d)
SyntaxError: Unexpected token ILLEGAL
$.datepicker.formatDate('mm dd yy', d)
"08 20 2014"
$.datepicker.formatDate('MM dd yy', d)
"August 20 2014"
*/



var num = {}
num["January"]   = "0";
num["February"]  = "1";
num["March"]     = "2";
num["April"]     = "3";
num["May"]       = "4";
num["June"]      = "5";
num["July"]      = "6";
num["August"]    = "7";
num["Septembet"] = "8";
num["October"]   = "9";
num["November"]  = "10";
num["January"]   = "11";

$(document).ready(function(){
    $('#inputID').datepicker({ dateFormat: "mm dd yy",
                               minDate: 0 });

    $('#inputID').datepicker("option", {
       onSelect: function(dateText, inst){
          date = dateText.match(/^(\d{2})\s(\d{2})\s(\d{4})/);

          $("#id_date_month").val(parseInt(date[1]));
          $("#id_date_day").val(parseInt(date[2]));
          $("#id_date_year").val(parseInt(date[3]));
       }
    });

    $("#id_date_month, #id_date_year").click(function(){
        var month = $("#id_date_month :selected").text();

        // baseline is 31 days
        if ($("#id_date_day option[value='29']").length == 0) {
           $("#id_date_day").append('<option value="29">29</option>')
        }

        if ($("#id_date_day option[value='30']").length == 0) {
           $("#id_date_day").append('<option value="30">30</option>')
        }

        if ($("#id_date_day option[value='31']").length == 0) {
           $("#id_date_day").append('<option value="31">31</option>')
        }

        switch(month) {
           case 'February':
              $("#id_date_day option[value='31']").remove();
              $("#id_date_day option[value='30']").remove();

              var year = parseInt($("#id_date_year :selected").text());

              // if not leap year, remove 29
              if (!(((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0))) {
                $("#id_date_day option[value='29']").remove();
              }
              break;
           case 'April':
           case 'June':
           case 'September':
           case 'November':
              $("#id_date_day option[value='31']").remove();
              break;
        }
})

    $(".consultation-date").click(function(){
        //console.log(this);
        var month = $("#id_date_month :selected").text();
        var day = $("#id_date_day :selected").text();
        var year = $("#id_date_year :selected").text();
        //console.log(month + ' ' + day + ' ' + year)

        if ((month == '---') || (day == '---') || (year == '---')) {
        }
        else {
           var month_num = num[month];
           var date = new Date(year,month_num,day);
           //console.log(date);
           //console.log(date.getDay());

           if ($(".consultation-time option[value='early']").length == 0) {
              $(".consultation-time").append('<option value="early">Early</option>')
           }

           if ($(".consultation-time option[value='afternoon']").length == 0) {
              $(".consultation-time").append('<option value="afternoon">Afternoon</option>')
           }

           if ($(".consultation-time option[value='evening']").length == 0) {
              $(".consultation-time").append('<option value="evening">Evening</option>')
           }

           var day_of_week = date.getDay();

           switch(day_of_week) {
              case 0: // Sun
                 {% if not availability.sunday_early %}
                    $(".consultation-time option[value='early']").remove()
                 {% endif %}
                 {% if not availability.sunday_afternoon %}
                    $(".consultation-time option[value='afternoon']").remove()
                 {% endif %}
                 {% if not availability.sunday_evening %}
                   $(".consultation-time option[value='evening']").remove()
                 {% endif %}
                 break;
              case 1:  // Mon
                 {% if not availability.monday_early %}
                    $(".consultation-time option[value='early']").remove()
                 {% endif %}
                 {% if not availability.monday_afternoon %}
                    $(".consultation-time option[value='afternoon']").remove()
                 {% endif %}
                 {% if not availability.monday_evening %}
                   $(".consultation-time option[value='evening']").remove()
                 {% endif %}
                 break;
              case 2:  // Tue
                 {% if not availability.tuesday_early %}
                    $(".consultation-time option[value='early']").remove()
                 {% endif %}
                 {% if not availability.tuesday_afternoon %}
                    $(".consultation-time option[value='afternoon']").remove()
                 {% endif %}
                 {% if not availability.tuesday_evening %}
                   $(".consultation-time option[value='evening']").remove()
                 {% endif %}
                 break;
              case 3:  // Wed
                 {% if not availability.wednesday_early %}
                    $(".consultation-time option[value='early']").remove()
                 {% endif %}
                 {% if not availability.wednesday_afternoon %}
                    $(".consultation-time option[value='afternoon']").remove()
                 {% endif %}
                 {% if not availability.wednesday_evening %}
                   $(".consultation-time option[value='evening']").remove()
                 {% endif %}
                 break;
              case 4:  // Thr
                 {% if not availability.thursday_early %}
                    $(".consultation-time option[value='early']").remove()
                 {% endif %}
                 {% if not availability.thursday_afternoon %}
                    $(".consultation-time option[value='afternoon']").remove()
                 {% endif %}
                 {% if not availability.thursday_evening %}
                   $(".consultation-time option[value='evening']").remove()
                 {% endif %}
                 break;
              case 5:  // Fri
                 {% if not availability.friday_early %}
                    $(".consultation-time option[value='early']").remove()
                 {% endif %}
                 {% if not availability.friday_afternoon %}
                    $(".consultation-time option[value='afternoon']").remove()
                 {% endif %}
                 {% if not availability.friday_evening %}
                   $(".consultation-time option[value='evening']").remove()
                 {% endif %}
                 break;
              case 6:  // Sat
                 {% if not availability.saturday_early %}
                    $(".consultation-time option[value='early']").remove()
                 {% endif %}
                 {% if not availability.saturday_afternoon %}
                    $(".consultation-time option[value='afternoon']").remove()
                 {% endif %}
                 {% if not availability.saturday_evening %}
                   $(".consultation-time option[value='evening']").remove()
                 {% endif %}
                 break;
           }
        }
    });

});

/*
date = new Date(2014,7,15)  month is zero idx
Fri Aug 15 2014 00:00:00 GMT-0400 (EDT)

date.getDay()  day Sun = 0
5

date = new Date(2014,8,1)
Mon Sep 01 2014 00:00:00 GMT-0400 (EDT)
date.getDay()
*/

</script>

{% endblock content %}
