{% extends "base.html" %}

{% block title %}
Nutrifeedback
{% endblock title %}

{% block content %}
{% load static from staticfiles %}


<div class="outer-canvas">
  <div class="container">
    <div class="top-spacer"></div>
    <div class="inner-canvas">
      <div class="row line-no-pad">
        {% include 'snippets/candy_line.html' %}
      </div>
      <div id="survey-form">
        <div class="row line-no-pad">
        <div class="left-section-title">Health Survey</div>
      </div>
      <div class="row line-no-pad">
        <div class="section-title-detail">
          <p>Tell us a bit about yourself and your health goals so we can play matchmaker!</p>
          <p> Don’t be shy—the more info you give us, the easier it will be to fix you up with an awesome nutritionist near you.</p>
        </div>
      </div>
      <div class="divider-line"></div>
      <div id="form-padding">
        <form action="{% url 'survey' %}" method="post">
          {% csrf_token %}
          <input type="hidden" id="dob-input"/>

          <div class="row">{{ form.gender.errors }}</div>
          <div class="row form-field-label">{{ form.gender.label }}</div>
          <div class="row">{{ form.gender }}</div>

          <div class="row">{{ form.dob.errors }}</div>
          <div class="row form-field-label">{{ form.dob.label }}</div>
          <div class="row">{{ form.dob }}<a href="javascript:void(0);" onclick="$.datepicker._showDatepicker($('#dob-input')[0]);"><img id="dob-calendar-trigger" src='{% static 'img/date.png' %}'/></a></div>

          <div class="col-xs-1 no-pad">
            <div class="row">{{ form.weight.errors }}</div>
            <div class="row form-field-label">{{ form.weight.label }}&nbsp(lbs)</div>

            <div class="row">{{ form.weight }}</div>
          </div>

          <div class="col-xs-1" id="height-padding">
            <div class="row">{{ form.height.errors }}</div>
            <div class="row form-field-label">{{ form.height.label }}&nbsp(feet)</div>
            <div class="row">{{ form.height }}</div>
          </div>

          <div class="col-xs-10"></div>

          <div class="row">{{ form.exercise_freq.errors }}</div>
          <div class="row form-field-label">{{ form.exercise_freq.label }}</div>
          <div class="row">{{ form.exercise_freq }}</div>

          <div class="row">{{ form.health_goals.errors }}</div>
          <div class="row form-field-label">{{ form.health_goals.label }}</div>
          <div class="row">{{ form.health_goals }}</div>

          <div class="row">{{ form.dietary_restrictions.errors }}</div>
          <div class="row form-field-label">{{ form.dietary_restrictions.label }}</div>
          <div class="row">{{ form.dietary_restrictions }}</div>

          <div class="row">{{ form.anything_else.errors }}</div>
          <div class="row form-field-label">{{ form.anything_else.label }}</div>
          <div class="row">{{ form.anything_else }}</div>

          <div>
            <button type="submit" id="find-button" class="btn btn-lg btn-primary extra-wide-button no-pad">Find a Nutritionist</button>
          </div>
        </form>

        <div class="bottom-spacer"></div>
      </div>
    </div>
  </div>
  <div class="recommended-bottom-spacer"></div>
</div>
</div>

<script>
$(document).ready(function(){
    console.log("datepicker");
    $('#dob-input').datepicker({ dateFormat: "mm dd yy", changeYear: true });
    $('#dob-input').datepicker( "option", "yearRange", "1900:1997" );

    $('#dob-input').datepicker("option", {
       onSelect: function(dateText, inst) {
          populate_calendar_selects(dateText, inst, "id_dob_month", "id_dob_day", "id_dob_year");
       }
    });

    $("#id_dob_month, #id_dob_year").click(function(){
       set_month_length("id_dob_month", "id_dob_day", "id_dob_year");
    });
});
</script>

{% endblock content %}