{% extends "base.html" %}

{% block title %}
Nutrifeedback
{% endblock title %}

{% block content %}
{% load static from staticfiles %}
  <div class="outer-canvas">
  <div class="container">
      <div class="row line-no-pad">
        <div class="col-xs-2 no-pad"></div>
        <div class="col-xs-1 no-pad">
          <div class="top-spacer"><button class="back-button" onclick="history.back()">< BACK</button></div>
        </div>
      </div>
    <div class="inner-canvas">

      <div class="row line-no-pad">
      {% include 'snippets/candy_line.html' %}
      </div>

      <div class="inner-margin">
      <div class="row line-no-pad">
        <div class="left-section-title">Upcoming Consultations</div>
        <div class="row line-no-pad">
          <div class="section-title-detail">
            <p>Here are your upcoming nutritionist visits. </p>
          </div>
        </div>
      </div>

      {% for consultation in consultations %}
        <div class="divider-line"></div>
        <div id="nutritionist-block-margin">
        <div class="row">
          <div class="col-xs-2">
            <img class="circular-headshot" id="recommended-headshot" src="{{ consultation.nutritionist.headshot.url }}">
          </div>
          <div class="col-xs-10 no-pad">
            <div class="row">
              <div id="recommended-name">
                {{ consultation.nutritionist.first_name }} {{ consultation.nutritionist.last_name }},&nbsp
              </div>
              <div id="recommended-type">
                {{ consultation.nutritionist.get_nutritionist_type_display }}
              </div>
            </div>
            <div class="row" id="recommended-city">
              <img id="pin" src='{% static 'img/pin.png' %}'/>
              {{ consultation.nutritionist.city }}
            </div>
            <div class="row" id="recommended-consultation">
              {{ consultation.nutritionist.consultation_description }}
            </div>
            <div>
              <div class="row">
                <a class="btn btn-primary no-pad view-profile-button" href="{% url 'nutritionist' consultation.nutritionist.id %}">View Profile</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      {% endfor %}


    </div>
<div class="last-button-spacer"></div>
    </div>
  <div class="recommended-bottom-spacer"></div>
  </div>
</div>
{% endblock content %}